body {
  font-family: 'Assistant', arial, sans-serif;
  font-size: 18px;
  background: #000;
  color: #fff;
}

h1 {
  /*  color: brown;*/
  /*  font-weight: 200;*/
  /*  font-size: 2.5em;*/
  margin: 0;
  color: #d06153;
}

h2 {
  border-bottom: 1px solid #d2994d;
  color: #e5d3a8;
}

.container {
  max-width: 800px;
  margin: auto;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/*
.aligncenter {
  max-width: 50%;
  display: block;
  margin: auto;
}
*/
a {
  color: #cc944a;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
