body {
  font-family: 'Assistant', sans-serif;
  
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.container {
  max-width: 900px;
  margin: auto;
}
.about {
  background: url(img/image.jpg) center;
  background-size: cover;
  color: #fff;
  padding: 40px;
  text-align: center;
}
.contact {
  background: #e0d9d0;
  padding: 40px;
  text-align: center;
}
h1, h2, h3, .logo {
  font-family: 'Secular One', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
.logo {
  font-size: 24px;
  margin: auto;
  display: table;
}
.logo img {
  display: block;
  margin: auto;
}